 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
 }

body {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  
}

img{
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding:60px 20px 0;
 
}
.header {
background: url(../assets/images/start-screen-background.jpg );
background-repeat: no-repeat;
background-size: cover;

}
.header__logo{
font-weight: 400;
font-size: 32px;
line-height: 110%;
color: #F1CDB3;

}
.header__subtitle{
font-family: 'Arial' ;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list{
  list-style-type: none;
  display: flex;
  
}
.nav__item{
  margin-right: 35px;
}
.nav__item:last-child{
  margin: 0;
}
.nav__link {
  text-decoration: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  transition: 0.3s;
}
.nav__link:hover{
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  border-bottom: 1px solid #F1CDB3;
}
.hero{
  margin-top: 77px;
}
.hero__row{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.hero__image img {
  display:block;
}

.hero__title{
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width:310px;
}
.hero__text{
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin:42px 0;
  max-width:460px;
  text-align: justify;
}
.hero__button{
 
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  padding:15px 45px;
  text-decoration: none;
  background: #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  
}
.hero__button:hover{
  background: #FDDCC4;
}
.about{
  padding: 80px 0 100px;
}
.about__row{
  display:flex;
  justify-content: space-evenly;
  
}
.about__title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}
.about__wrap{
  max-width:430px;
}
.about__image{
  max-width: 300px;
  max-height: 408px;
}
.about__text{
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  padding:25px 0;
}

.friends{
  position:relative;
  background-color:#F6F6F6;
  padding:80px 0 100px;
  text-align: center;
}

.btn__left,
.btn__right{
  position:absolute;
  top:50%;
  width:40px;
  height:40px;
  cursor:pointer;
  border: 2px solid #FDDCC4;
  border-radius: 50%;
}
.btn__left{
  left:60px;
  z-index:2;
  

}
.btn__right{
  right:75px;

}

.btn__right:hover,
.btn__left:hover {
  background-color:#FDDCC4;
}
.btn__left::before,
.btn__right:after {
  position:absolute;
  top:20%;
  z-index:1;
  cursor: pointer;
}
.btn__left::before{
  left:10px;
  content:url(../img/Arrow.svg);
}
.btn__right:after {
  right:10px;
  content:url(../img/Arrow-right.svg);
}
.friends__title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  max-width:400px;
  margin:0 auto;
  text-align: center;
}

.friends__wrap{
  display:flex;
  justify-content: space-between;
  margin:60px auto;
  max-width:900px;
  overflow: hidden;
}
.carousel{
  display:flex;
  position:relative;
  left:-1000px;
}
@keyframes move-right {
  from {left: -1000px;}
  to {left: -1700px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}


@keyframes move-left {
  from {left: -1000px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.friends__item{
  background: #FAFAFA;
  width:270px;
  text-align: center;
  border-radius: 9px 9px 0px 0px;
  cursor:pointer;
  margin-right:60px;
  
}

.friends__text{
  padding:50px 0 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
.friend__button{
  background: #FAFAFA;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  padding:12px 45px;
  border-radius: 100px;
  border:2px solid #F1CDB3;
  cursor: pointer;

}
.friend__button:hover{
  background: #FDDCC4;
}
.friends__button{
  background: #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  padding:15px 45px;
  text-decoration: none;
  
}
.friends__button:hover{
  background: #FDDCC4;
}
.help{
  padding-bottom: 100px;
}

.help__row{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 120px;
  column-gap: 55px;
}

.help__wrap{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  row-gap: 120px;
  column-gap: 55px;
  padding-top: 58px;
}
.help__item{
  text-align: center;
}
.help__item img{
  padding-bottom: 30px;
}
.help__item p{
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}
.help__title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  padding-top:80px;
  max-width:308px;
  margin:0 auto;
  text-align: center;
  padding-bottom: 58px;
}
.donation{
  padding:91px 0 110px;
  background: #F6F6F6;
}
.donation__wrap{
  display:flex;
  justify-content:center;
}
.donation__img{
 margin-right:30px;
}
.donation__number{
  max-width:380px;
}
.donation__title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  margin-bottom: 20px;
 
}
.donation__subtitle{
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  color: #545454;
}
.donation__text{
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
.donation__row{
  display:flex;
  align-items: center;
  justify-content: center;
  background: #F1CDB3;
  border-radius: 9px;
  padding:10px 0;
  margin:20px 0;
  

}
.donation__image{
  padding-right: 15px;
}
.donation__credit-number{
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}
.footer{
  background-image:url(../assets/images/footer-gradient-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__wrapper{
  display:flex;
  justify-content: space-between;
}
.footer__title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 270px;
  
}
.footer__row{
  display:flex;
  align-items: center;
  padding:37px 0 37px;
  max-width: 270px;
}
.footer__questions{
  padding-bottom:18px;
}
.footer__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
}
.footer__img{
  padding-right:20px;
}
.pets{
  background: #F6F6F6;
  text-align: center;
 
}
.pets__wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   margin:60px 0;
}
.pets__item{
  margin: 30px 0 88px;
}
.pets__logo{
  color: #545454;
}
.pets__subtitle{
  color: #292929;
}
.pets__link{
  color: #545454;
}
.pets__link:hover{
  color: #292929;
}
.pets__nav{
  background-color: #FFFFFF;
  padding-bottom: 30px;
}


.popup__back{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display:none;
  /* opacity:0; */
  pointer-events: none;
  transition:0.5s all;
  background: rgba(41, 41, 41, 0.6);
}
/* .popup__back.active{
  opacity:1;
  pointer-events: all;
  transition:0.5s all;
} */
.popup,
.popup2,
.popup3
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  transition:0.5s all;
  background: #FAFAFA;
  border-radius: 9px;
  max-width:700px;
  max-height: 100%;
  padding-right:20px;
  transform:translate(-50%,-50%) scale(1);
  display:none;
}
/* .popup.active{
  transform:translate(-50%,-50%) scale(1);
  transition:0.5s all;
} */
.popup:after{
  position:absolute;
  content:"X";
  top:-18px;
  right:-28px;
  border-radius: 50%;
  border:1px solid #F1CDB3;;
  padding:7px;

}
.popup__wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}
.popup__img{
  max-width: 350px;
  max-height:350px;
}
.popup__name {
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #000000;
}
.popup__title{
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #000000;
padding:10px 0 20px;
}
.popup__text{
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
max-width:300px;
}
.popup__list{
  padding-top: 20px;
}
.popup span{
font-weight: 600;
font-size: 15px;
line-height: 110%;
color: #000000;
}
@media (max-width:1024px){
  .container{
    max-width: 970px;
}
}

@media screen and (max-width: 768px){
  .carousel{
    max-width:100%;
  }
nav{
  display:none;
}
.hero__row
 {
  flex-direction:column;
  width:100%;
}
.hero__image {
  margin-top: 100px;
}
.about__row{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.about__image{
  margin-top: 80px;
}
.friends__item{
 min-width: 49%;
 margin:20px 0;
}

.donation__wrap{
  flex-direction: column-reverse;
  align-items: center;
}
.donation__img{
  margin-top:60px;
}
.footer__wrapper{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__dog{
  margin:65px auto;
  margin-bottom: 0;
}
.footer__dog{
  margin:0 auto;
}

}
@media screen and (max-width: 576px){

}
@media screen and (max-width: 375px){

}